<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" href="/css/style3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <div class="navbar">
        
        <div class="navbar0">
            <i class="fa-solid fa-stairs"></i>
            <a href="/">Explore</a>
            <a href="">Campus Chat</a>
        </div>
        <div class="navbar1">
            <form action="#search" class="search">
                <input type="text" placeholder="Search">
                <button><i class="fa-solid fa-magnifying-glass"></i>search</button>
            </form>
            <div class="dropdown">
                <a href="#">Feature</a>
                <div class="dropdown-menu">
                    <a href="/hackthon">Hackthon</a>
                    <a href="/flatmate">Flatmate</a>
                    <a href="/event">Event</a>
                </div>
            </div>
        </div>
        <div class="navbar2">
           
                <%if(!currentUser){%>
                    <a href="/login">Login</a>
                    <a href="/signup">Signup</a>
                <%}%>
                <%if(currentUser){%>
                    <a href="/logout">logout</a>
                <%}%>
         
           
        </div>
        <button class="toggle-btn" onclick="toggleNavbar()">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
    <script>
        function toggleNavbar() {
            const navbar = document.querySelector('.navbar');
            navbar.classList.toggle('show');
        }
        
    </script>
    
</body>
</html>




